<div class="container">
  <form [formGroup]="formularioLogin" (ngSubmit)="login()">
    <h1>Inicio de sesión</h1>

    <!-- Mensaje de error general -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <input 
        [ngClass]="{'is-invalid': hasError('email','required') || hasError('email','email')}"
        type="email" 
        class="form-control" 
        id="email" 
        formControlName="email">
      <div class="text-danger" *ngIf="hasError('email','required')">Email requerido.</div>
      <div class="text-danger" *ngIf="hasError('email','email')">Email inválido.</div>
    </div>
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password: </label>
      <input 
        [ngClass]="{'is-invalid': hasError('password','required') || hasError('password','minlength')}"
        type="password" 
        class="form-control" 
        id="Password" 
        formControlName="password">
      <div class="text-danger" *ngIf="hasError('password','required')">Contraseña requerida.</div>
      <div class="text-danger" *ngIf="hasError('password','minlength')">Contraseña inválida, tiene menos de 8 caracteres.</div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      <button type="button" class="btn btn-secondary" (click)="authService.googleLogin()">Iniciar sesión con Google</button>
      <a routerLink="/register" class="login-link">¿No tienes cuenta? Regístrate</a>
    </div>
  </form>
  <dialog #loginDialog id="LoginExitoso" closedby="any">
    <h2>Inicio de sesión exitoso</h2>
    <p>Bienvenido, estamos encantados de recibirte</p>
    <form method="dialog">
      <button type="submit" class="btn-close">Cerrar</button>
    </form>
  </dialog>
  <dialog id="ErrorLogin" closedby="any">
    <h2>Hay un problema</h2>
    <p>Inicio de sesión erróneo, revisa tus credenciales.</p>
    <form method="dialog">
      <button type="submit" class="btn-close">Cerrar</button>
    </form>
  </dialog>
</div>
