/* Contenedor general para el componente de combate */
.combat-container {
  padding: 20px;
  background-color: #ece7e7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Encabezado del componente de combate */
.combat-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Lista de combates */
.combat-list {
  list-style-type: none;
  padding: 0;
}

/* Elementos individuales de la lista de combates */
.combat-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #6a1515;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.combat-item:hover {
  background-color: #d2cbcb;
}

/* Nombre del combate */
.combat-item-name {
  font-size: 18px;
  font-weight: 500;
}

/* Acciones del combate */
.combat-item-actions {
  display: flex;
  gap: 10px;
}

.combat-item-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.combat-item-actions .edit-button {
  background-color: #4caf50;
  color: #fff;
}

.combat-item-actions .delete-button {
  background-color: #f44336;
  color: #fff;
}

.combat-item-actions .hide-button {
  background-color: #c98622;
  color: #fff;
}

.combat-item-actions .hide-button:hover {
  background-color: #e68900;
}

/* Formulario del componente de combate */
.combat-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.combat-form input,
.combat-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.combat-form button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.combat-form button:hover {
  background-color: #1976d2;
}

/* Estilo para combates ocultos */
.hidden-combat {
  background-color: rgb(207, 25, 25);
  color: rgb(185, 22, 22);
}

/* Diálogo */
dialog form {
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  width: 300px !important;
  max-width: 90% !important;
  border: none !important;
  border-radius: 12px !important;
  padding: 20px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  text-align: center !important;
  background-color: #fff !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000 !important;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.btn-close {
  background-color: #007bff !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 6px !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  transition: background-color 0.3s ease !important;
  margin: 0 auto !important;
  display: block !important;
}

.btn-close:hover {
  background-color: #0056b3 !important;
<<<<<<< HEAD
=======
}

.btn btn-success{
  background-color: #28a745;
    border: none;
    color: #ffffff;
}

.btn btn-success:hover{
  background-color: #218838;
    color: #ffffff;
}

.btn btn-primary mr-2{
  background-color: #007bff;
    border: none;
    color: #ffffff;
}

.btn btn-primary mr-2:hover{
  background-color: #0056b3;
    color: #ffffff;
}

.pagination-controls{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
>>>>>>> da44fb045bdeca11dac30b5fae8f90454dc9fb5e
}